/* You can add global styles to this file, and also import other style files */
.header-footer{
    background-color: #404040;
}

// scroll bar
::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }