<div>
    <div class="header-footer" style="height: 50px; color: white;">
        <div style="font-size: 2rem;" class="ms-2">
            Optimal Available Price 
        </div>
    </div>
    <div style="height: 88vh; background-color: #262626;">
        <router-outlet></router-outlet>
    </div>
    <div class="header-footer"  style="color:white; height: 22px;display: flex;justify-content: space-between;" >
        <div>
            Contributor: github ///karthik-H, //Sharath-Hanumanthaiah
        </div>
        <div>
            V 0.0.1
        </div>
    </div>
</div>
